root {
    --keyWidth: 63px;
    --keyHeight: 49px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

#previewCanvas {
    position: absolute;
    visibility: hidden;
    border-radius: 30px;
    box-shadow: #ccc 0 20px 70px -10px;
}

/*#keyboard {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    background: #d5d8dd;*/
/*    width: 100%;*/
/*    height: 38%;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    padding-bottom: env(safe-area-inset-bottom, 20px);*/
/*}*/

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 360px;
    height: 312px;
    left: 10px;
    top: 382px;
    background: #d5d8dd;
    border-radius: 9px;
    border: solid 1px #c9cace;
    box-shadow: #ccc 0 20px 70px -10px;
}

.keyHeader {
    height: 125px;
}

.keyHeader {
    height: 54px;
}

/*.keyContainer {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*    grid-template-rows: repeat(4, 1fr);*/
/*    column-gap: 16px;*/
/*    row-gap: 16px;*/
/*    width: 98%;*/
/*    aspect-ratio: 32/17;*/
/*}*/

.keyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 6px;
    row-gap: 8px;
    width: 340px;
    height: 224px;
}

.keyContainer > div {
    border-radius: 5px;
    box-shadow: #8d9095 0 3px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.candidateContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300%;
    height: 300%;
    margin-left: -100%;
    margin-top: -78%;
}

.candidate {
    position: relative;
    background: red;
    width: 100%;
    height: 100%;
    border: 1px solid green;
    box-sizing: border-box;
}

.whiteKey {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.3rem;
}

.whiteKey.pressed {
    background-color: #b4b8c1;
}

.grayKey {
    background-color: #acaebb;
}

.grayKey.pressed {
    background-color: #fff;
}

/* whole */
.k12.note {
    background-position-y: 65%;
    background-size: 25% auto;
    background-image: url(img/n1.png);
}

.k12.rest {
    background-size: 40% auto;
    background-image: url(img/r1.png);
}

/* 1/2 */
.k13.note {
    background-size: 18% auto;
    background-image: url(img/n2.png);
}

.k13.rest {
    background-size: 40% auto;
    background-image: url(img/r2.png);
}

/* 1/4 */
.k14.note {
    background-size: 18% auto;
    background-image: url(img/n4.png);
}

.k14.rest {
    background-image: url(./img/r4.png);
    background-size: auto 60%;
}

/* 1/8 */
.k22.note.nobeam {
    background-size: auto 70%;
    background-image: url(img/n8.png);
}

.k22.note.beamed {
    background-size: auto 70%;
    background-image: url(img/beam8.svg);
}

.k22.rest {
    background-size: 20% auto;
    background-image: url(img/r8.png);
}

/* 1/16 */
.k23.note.nobeam {
    background-size: auto 70%;
    background-image: url(img/n16.png);
}

.k23.note.beamed {
    background-size: auto 70%;
    background-image: url(img/beam16.svg);
}

.k23.rest {
    background-size: 20% auto;
    background-image: url(img/r16.png);
}

/* 1/32 */
.k24.note.nobeam {
    background-size: auto 70%;
    background-image: url(img/n32.png);
}

.k24.note.beamed {
    background-size: auto 70%;
    background-image: url(img/beam32.svg);
}

.k24.rest {
    background-size: 20% auto;
    background-image: url(img/r32.png);
}

.changeBeam {
    font-size: 1em;
}

.changeBeam.nobeam {
    background-image: url("./img/nobeam.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37%;
    background-position-x: 57%
}

.changeBeam.beam {
    background-image: url("./img/beam.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.changeBeam.beamLocked {
    background-image: url("./img/beam_locked.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.backspace {
    background-image: url("./img/backspace_black_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.toLeft {
    background-image: url("./img/west_black_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.toRight {
    background-image: url("./img/east_black_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.changeNoteRest {
    background-position: center;
    background-repeat: no-repeat;
}

.changeNoteRest.note {
    background-size: 20% auto;
    background-image: url(img/n4.png);
}

.changeNoteRest.rest {
    background-size: auto 60%;
    background-image: url("./img/r4.png");
}

.accidentals {
    background-image: url("./img/accidentals.svg");
    background-size: 40%;
}

.dynamics {
    background-image: url("./img/dynamics.svg");
    background-size: 40%;
}

.bars {
    background-image: url("./img/bars.svg");
    background-size: auto 55%;
}

.changeUi {
    background-image: url("./img/piano_black_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.returnKey {
    grid-column-start: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("./img/keyboard_return_black_24dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.slur {
    background-image: url("./img/slur.svg");
    background-size: 35%;
}

.accent {
    background-image: url("./img/accent.svg");
    background-size: 30%;
}

.fermata {
    background-image: url("./img/fermata.svg");
    background-size: 25%;
}

.keyboardBottom {
    display: flex;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.keyboardHandle {
    visibility: hidden;
    margin: 18px auto 0;
    background: #aaa;
    width: 40px;
    height: 5px;
    border-radius: 2px;
}

.keyboardHandle {
    visibility: visible;
}

#pointer {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    background: gray;
    border-radius: 25px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    pointer-events: none;
}